# ignore ALL .log files
*.log
# ignore ALL files in ANY directory named temp
bin/
Documentation/
# ignore ALL .o files
*/*/*/*.wfx
*/*/*/*.molden
*/*/*/*.gab
*/*/*/*.log
*/*/*/*.fchk
*/*/*.cube
*/*/*.gcube
*/*/*.chk
*/*/*/*.cube
*.cube
*.txt
*.com
*.o
*.exe
# p
p
