# ignore ALL .log files
*.log
# ignore ALL files in ANY directory named temp
bin/
Documentation/
# ignore ALL .o files
*/*/*/*.wfx
*/*/*/*.molden
*/*/*/*.gab
*/*/*/*.log
*/*/*/*.fchk
*/*/*.cube
*/*/*.gcube
*/*/*.chk
*/*/*/*.cube
*.cube
*.com
*.o
*.exe
# p
p

# ignore ALL .mk files
**/*.mk

# ignore all executable files and library files
**/*.so
src/applications/cdftt/cdftt

# custom file to switch includes from angle brackets to relative paths (with quotes) to help with IDEs that don't support the angle bracket syntax
src/lib/switch_includes.sh